.calculator-actions {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
}

.calculator-actions__button {
  width: 20%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  padding: 0;
  cursor: grab;
  background: #323546;
  border: 1px solid #3B3F54;
  border-radius: 12px;
  color: white;
  width: 58px;
  height: 48px;
}

.calculator-actions__button_active {
  background-color: #0000003b;
}

.calculator-actions__button_inactive {
  /* background-color: white; */
}

.initial-container .calculator-actions__button {
  /* background-color: white; */
}

.target-container .calculator-actions__button {
  cursor: pointer;
}

.calculator-actions__button_multiply {
  padding-top: 12px;
}