.draggable-component {
  position: relative;
  display: flex;
}

.draggable-component_inactive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222531eb;
  z-index: 10;
}
