.calculator-num-buttons {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
}

.calculator-num-buttons__btn {
  width: 30%;
  height: 46px;
  font-size: 28px;
  cursor: grab;
  background: #323546;
  border: 1px solid #3B3F54;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}

.calculator-num-buttons__btn_c {
  background: #EA3943;
}
