.calculator-display {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background: #17171A;
  border-radius: 8px;
  gap: 5px;
}

.dragged-component__children .calculator-display {
  cursor: pointer;
}

.calculator-display__input {
  overflow: hidden;
  height: 66px;
  width: 100%;
  font-size: 34px;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: end;
  color: white;
  font-weight: 700;
  font-size: 48px;
}

.dragged-component__children .calculator-display__input {
  cursor: pointer;
}