.dragged-component {
  position: relative;
  display: flex;
}

.dragged-component__drop-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.dragged-component__delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 15px;
  background-color: #EA3943;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  border: none;
  opacity: 0%;
  cursor: pointer;
}

.dragged-component:hover .dragged-component__delete-btn {
  opacity: 100%;
  z-index: 10;
}

.dragged-component__children {
  position: relative;
  z-index: 1;
}

.drag-marker {
  position: absolute;
}
